body {
	font-family: crimson text;x-fast
	background: #fff;
}

img {
	border-radius: 50%;
}

.showcase {
	padding: 150px;
	margin-bottom: 0px;
	background-image: url(images/mot.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 10px #000;
	position:center;
}

.menu {
	text-align:center;
	padding-bottom: 10px;
}

h2 {
	background-color: #8B0000;;
	color: white;
	text-align: center;
	padding: 10px 10px;
}

.main-article {
	margin-bottom: 10px;
}

.menu {
	background: #8B0000;
	color: white;
	text-align: center;
	margin: 10px;
	box-shadow: 0 0 10px #000;
	
}

.comp {
	margin: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	
}

.one {
	padding: 50px;
	background-color:#FF0000;;
	padding: 20px;
	color: white;
}

.two {
	padding: 50px;
	background-color:#FF0000;;
	padding: 20px;
	color: white;
}

.three{
	padding: 50px;
	background-color:#FF0000;;
	padding: 20px;
	color: white;
}

.four {
	padding: 50px;
	background-color:#FF0000;;
	padding: 20px;
	color: white;
}

.five {
	padding: 50px;
	background-color:#FF0000;;
	padding: 20px;
	color: white;
}

.six{
	padding: 50px;
	background-color:#FF0000;;
	padding: 20px;
	color: white;
}


















